<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/pico.min.css">
    <link rel="stylesheet" href="../static/main.css">

    <style>
        :root{
    --primary : #f4a261;
}
    </style>
</head>
<body>
    
    <header class="container">
        <nav>
            <ul>
                <li><strong>Birthday APP</strong></li>
            </ul>

            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/show">Afficher</a></li>
                <li><a href="/add">Ajouter</a></li>
            </ul>
        </nav>
    </header>

    <main class="container">
        <h1>Voici toutes les personnes que tu as enregistré</h1>

        <section>
            <article>
                <header><strong>Coline Sakkriou</strong></header>
                Tu peux la contacter par téléphone : 06 00 00 41 14 <br>
                Ou par mail : coline@gma.fr
            </article>
        </section>

        <section>
            <article>
                <header><strong>Coline Sakkriou</strong></header>
                Tu peux la contacter par téléphone : 06 00 00 41 14 <br>
                Ou par mail : coline@gma.fr
            </article>
        </section>


        <section>
            <article>
                <header><strong>Coline Sakkriou</strong></header>
                Tu peux la contacter par téléphone : 06 00 00 41 14 <br>
                Ou par mail : coline@gma.fr
            </article>
        </section>


        <section>
            <article>
                <header><strong>Coline Sakkriou</strong></header>
                Tu peux la contacter par téléphone : 06 00 00 41 14 <br>
                Ou par mail : coline@gma.fr
            </article>
        </section>


        <section>
            <article>
                <header><strong>Coline Sakkriou</strong></header>
                Tu peux la contacter par téléphone : 06 00 00 41 14 <br>
                Ou par mail : coline@gma.fr
            </article>
        </section>


        <section>
            <article>
                <header><strong>Coline Sakkriou</strong></header>
                Tu peux la contacter par téléphone : 06 00 00 41 14 <br>
                Ou par mail : coline@gma.fr
            </article>
        </section>


        <section>
            <article>
                <header><strong>Coline Sakkriou</strong></header>
                Tu peux la contacter par téléphone : 06 00 00 41 14 <br>
                Ou par mail : coline@gma.fr
            </article>
        </section>
        
    </main>

</body>
</html>